body {
  background-color: #888888;
}

#inline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

a:link {
  color: blue;
  text-decoration-style: dotted;
}

a:hover {
  color: black;
  text-decoration-style: dotted;
}
